<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찬웅샵</title>

    <style>

    div{
        border: 0.5px solid black;
    }

    .navigation{
    display: flex;
    justify-content: space-between;
}

.navigation > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    /* 아래 테두리만 주기 */
    border-bottom: 2px solid black;
}

.search > input{
    /* 테두리 제거 */
    border: 0;
}


.navigation a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.s_page{
    height: 50px;
    width: 500px;

}

.s_page a{
    display: flex;
    justify-content: space-between;
}

.shopnow{
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.footer{
    height: 400px;
    display: flex;
}

.footer > div{
    height: 100%;
    width: 50%;
}

.footer > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > div:nth-child(1){
    padding-left: 10px;
}

    .header{
        height: 400px;
        /* 내부 요소의 크기가 더 커서 삐져나오는 경우에 대한 style 적용 */
        /* scroll 스크롤바가 생기게 함 */
        /* hidden 삐져나오는 부분 안보이게 함 */
        overflow: hidden;
        position: relative;
        background-color: #EEEEEE;
    }

    .header > img{
        width: 100%;
        left: 50%;
    }

    .header > h1{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .title{
        /* 중앙 정렬 삼총사.... display: flex; // justify-content: center // align-items: center; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item{
        /* 부모(row) 기준 1/3 가량 되는 길이 */
        /* 부모 크기의 1/3 에서 여백으로 줄 10px을 뺀 크기만큼 width를 준다 */
        width: calc(100%/3 - 10px);
        box-shadow: 4px 4px 4px 4px #DDDDDD;
    }

    .item img{
        width: 100%;
        transition-duration: 0.5s;
    }

    .item img:hover{
        width: 120%;
    }

    .item > div:nth-child(1){
        height: 250px;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row{
        display: flex;
        justify-content: space-between;
    }  

    </style>
</head>

<body>

    <div class="container"> <!--container 열기-->
        <div class="navigation"> <!--navigation 열기-->
            <div>
                <img src="https://themewagon.github.io/ogani/img/logo.png" alt="">
            </div>
            <div class="s_page">
                <a href="./index.html">HOME</a>
                <a href="./shop.html">SHOP</a>
                <a href="./blog.html">BLOG</a>
            </div>
            <div>
                <div class="s_heart">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                        </svg>
                    </button>
                </div>

                <div class="s_basket">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill" viewBox="0 0 16 16">
                            <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z"/>
                        </svg>
                    </button>
                    <span>
                        item:$150.00
                    </span>
                </div>
            </div>
        </div> <!--navigation 닫기--> 

        <div class="header"> 
            <div>
                <span>FRUIT FRESH</span>
                <span>Vegetable</span>  
                <span>100% Organic</span>
                <span>Free Pickup and Delivery Available</span>
                <button class="shopnow"> SHOP NOW</button>
            </div>
            
            <div>

            </div>
            
        </div> 

        <div class="title"> <!--title 열기-->
            <h1>금주 BEST 상품</h1>
        </div> <!--title 닫기-->

        <div class="row"> <!--row 열기-->
            
            <div class="item"> <!--item 열기-->
                <div>
                    <img src="https://cosmereg.com/wp-content/uploads/2023/03/beauty-g2b308465c_1920-1.jpg" alt="">
                </div>
                <div>
                    <h2>벚꽃 화장품 세트</h2>
                    <h1>56,800원</h1>
                </div>
            </div> <!--item 닫기-->

            <div class="item"> <!--item 열기-->
                <div>
                    <img src="https://health.chosun.com/site/data/img_dir/2023/06/23/2023062301899_0.jpg" alt="">
                </div>
                <div>
                    <h2>앰플 세트</h2>
                    <h1>33,900원</h1>
                </div>
            </div> <!--item 닫기-->

            <div class="item"> <!--item 열기-->
                <div>
                    <img src="https://www.cosmorning.com/data/photos/20230313/art_16801429693994_10a4e8.jpg" alt="">
                </div>
                <div>
                    <h2>과일 화장품 세트</h2>
                    <h1>42,600원</h1>
                </div>
            </div> <!--item 닫기-->

        </div> <!--row 닫기-->

        <div class="footer">
            <div>
                <h1>찬웅샵</h1>
                <hr>
                <h2>대전광역시 서구 xxxx</h2>
                <h2>042-344-153x</h2>
                <h2>akow283@gmail.com</h2>
            </div>

        </div>

    </div> <!-- container 닫기-->
</body>
</html>