
*{
    margin: 0;
    padding: 0;
}

div{
    border: 0px solid black;
}

.s_navigation{
display: flex;
justify-content: space-between;
align-items: center;
}

.s_top_banner{
    display: flex;
    height: 30px;
    padding-top: 10px;
    padding-left: 55px;
    padding-bottom: 10px;
    background-color: #EEEEEE;
    font-size: 15px;
}

.s_top_banner_mail{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    border-right: 0.5px solid grey;
    margin-right: 15px;
}

.s_top_banner_text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    border-right: 0.5px solid grey;
    margin-right: 15px;
}

.s_logo{
    margin-left: 55px;
    margin-top: 25px;
}


.s_navigation > div{
display: flex;
justify-content: center;
align-items: center;
}

.s_navigation li a{
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
width: 50px;
height: 50px;
text-decoration: none;
font-size: 20px;
color: black;
font-weight: bold;

}

.s_page{    
padding-top: 10px;
display: flex;
justify-content: space-between;
list-style-type: none;

}

.s_page li a{
justify-content: space-between;
width: 100%;
height: 100%;
}


.s_search_box{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: first baseline;
    width: 600px;
    height: 50px;
    border: 0.5px solid grey;
}

.s_search_box text{
    font-size: 35px;
}

.s_search_all_text{
color: black;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
border-right: 0.5px solid grey;
padding-right: 15px;
}


.s_search_box > input{
display: flex;
justify-content: center;
align-items: center;
border: 0;
padding: 15px;
font-size: 15px;
margin-left: 15px;
margin-right: 15px;
border-right: 0.5px solid grey;
}


.s_search{
height: 100%;
background-color: rgb(137, 199, 44);
color: white;
font-size: 20px;
font-weight: bold;
padding-bottom: 10px;
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
}


.s_main_banner_image{
    height: 100%;
    width: 100%;
}


.s_main_menu{
    height: 500px;
    background-color: white;
    display: flex;
    
}

/* 좌측 메인 메뉴바 최상위 목록 */
.s_main_menu > li > a{
    margin-left: 50px;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
    background-color: white;
    border: 0.5px solid gray;
    display: flex;
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


    
/* 좌측 상단의 메인 메뉴바 */
.s_all_departments li a{
    margin-left: 50px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    background-color: white;
    border: 0.5px solid gray;
    display: block;
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* 좌측 상단의 메인 메뉴바 hover 효과 */
.s_all_departments li a:hover{
    background-color: yellowgreen; color:white
}

.s_page li a:hover{
    background-color: yellowgreen; color: white;
}


.s_main_banner{
    padding: 15px;
}